*{
    margin: 0px;
    padding: 0px;
}
.tab{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr>td{
    height: 40px;
}

.remarks{
    width: 150px;
}

.dcfxjg_style{
    font: normal 400 18px '微软雅黑';
    position: fixed;
    top: 25px;
    left: 1610px;
}

.bc_style{
    position: fixed;
    top: 25px;
    left: 1550px;
    font: normal 400 18px '微软雅黑';
}

.onetd1{
    font: normal 600 24px"宋体";
}

.onetd2{
    font: normal 600 26px"宋体";
}

.onetd3{
    font: normal 600 22px"宋体";
    left: 50px;
}

.onetd4{
    font: normal 400 6px"宋体";
}

.greens{
    background-color: #70ad47;
}

.blue{
    background-color: #5b9bd5;
}

.green{
    background-color: #c6e0b4;
}

.yellow{
    background-color: #fee699;
}

.grey{
    background-color: #aeaaaa;
}

.input_yangshi{
    border-color: transparent;/*透明边框*/
    background-color:rgba(0,0,0,0);/*透明背景*/
}
.m-query_div{
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}
.m_query_head_div{
    width: 100%;
    height: 150px;
    background-color: #9F9F9F;
}
.m_query_head_div>table{
    padding-left: 50px;
    width: 100%;
    border: 1px solid #f60000;
    background-color: #ecc61b;
}
.m_query_head_div>table>tr{
    margin-top: 50px;
}
.m_query_head_div>table>tr>td{
    padding-right: -50px;
}