*{
    margin: 0px;
    padding: 0px;
}
.m_body_table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.remarks{
    width: 150px;
}
.dcfxjg_style{
    font: normal 400 18px '微软雅黑';
    position: fixed;
    top: 25px;
    left: 1610px;
}

.bc_style{
    position: fixed;
    top: 25px;
    left: 1550px;
    font: normal 400 18px '微软雅黑';
}

.onetd1{
    font: normal 600 24px"微软雅黑";
}

.onetd2{
    font: normal 600 26px"微软雅黑";
}

.onetd3{
    font: normal 600 22px"微软雅黑";
    left: 50px;
}

.onetd4{
    font: normal 400 6px"微软雅黑";
}

.greens{
    background-color: #70ad47;
}

.blue{
    background-color: #5b9bd5;
}

.green{
    background-color: #c6e0b4;
}

.yellow{
    background-color: #fee699;
}

.grey{
    background-color: #aeaaaa;
}

.input_yangshi{
    border-color: transparent;/*透明边框*/
    background-color:rgba(0,0,0,0);/*透明背景*/
}
.home_right_div{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.home_right_head_div{
    width: 100%;
    height: 110px;
    padding: 1px;
    border-bottom: 2px #dbdbdb solid;
}
.m_query_head_table{
    margin-left: 55px;
    width: 100%;
    height: 95%;
}
.m_query_head_table tr{
}
.m_query_head_table tr td{
    width: 150px;
    color: #1f1f1f;
    font: normal 400 14px "华文黑体";
}
.m_query_head_button{
    border: 0px;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 7px;
    background-color: #5ac980;
    cursor:pointer;
    margin-left: 60px;
}
.m_query_head_input{
    width: 200px;
    color: #c2c2c2;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 25px;
}
.home_right_cbody_div{
    overflow:auto;
    width: 100%;
    height: 85%;
}
.home_right_sbody_div{
    overflow:auto;
    width: 100%;
    height: 80%;
}
.home_right_bottom_div{
    text-align: center;
    width: 100%;
    height: 80px;
    border-top: 1px #d4cfcf solid;
}
.m_create_head_row1_div{
    width: 90%;
    height: 30px;
    margin-top:10px;
}
.m_create_head_row2_div{
    width: 90%;
    height: 30px;
    margin-top:15px;
}

.cjxx_span{
	margin-left:104px;
}
.cjxx_input{
	margin-left:10px;
}
.czy_span{
	margin-left:119px;
}
.czy_select{
	margin-left:10px;
}
.bbzt_span{
	margin-left:50px;
}
.wsc_span{
	margin-left:10px;
	color: #f00;
	font-weight: bold;
}
.gzlcssr1_span{
	margin-left:50px;
}
.gzlcssr2_span{
	margin-left:130px;
}

.but_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	border-radius:5px;
}
.scbb_but_div{
	margin-top: -21px;
	margin-left: 609px;
	background-color: #55CA7D;
}
.sjfw_but_div{
	margin-top: -30px;
	margin-left: 735px;
	background-color: #FF5157;
}

.m_body_table .tr1{
    height: 50px;
}

.m_body_table .tr2,
.m_body_table .tr4{
    height: 30px;
}
.m_body_table .td2_1,
.m_body_table .td2_2,
.m_body_table .td2_3{
    width: 7%;
}
.m_body_table .td2_4{
    width: 9%;
}
.m_body_table .td2_5{
    width: 9%;
}
.m_body_table .td2_6,
.m_body_table .td2_8{
    width: 15%;
}
.m_body_table .td2_7,
.m_body_table .td2_9{
    width: 15%;
}

.m_body_table .tr3{
    height: 70px;
}

.m_body_table .tr5{
    height: 150px;
}
.m_body_table .tr6{
    height: 40px;
}
.m_body_table .tr6_1{
    height: 40px;
}
.m_body_table .tr7,
.m_body_table .tr8,
.m_body_table .tr9{
    height: 40px;
}
.m_body_table .tr10,
.m_body_table .tr12{
    height: 60px;
}
.m_body_table .tr13{
    height: 40px;
}
.m_body_table .tr14{
    height: 100px;
}
.m_body_table .tr15{
    height: 60px;
}
.m_body_table .tr16{
    height: 60px;
}
.m_body_table .tr17{
    height: 60px;
}
.m_body_table .tr18{
    height: 60px;
}
.m_body_table .tr19{
    height: 60px;
}
.m_body_table .tr20{
    height: 100px;
}
.m_body_table .tr21{
    height: 20px;
}
.m_body_table .tr22{
    height: 100px;
}
.m_body_table .tr23{
    height: 50px;
}
.m_body_table .tr24{
    height: 80px;
}
.m_body_table .tr25{
    height: 100px;
}