*{
    margin: 0px;
    padding: 0px;
}
.m_body_table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.remarks{
    width: 150px;
}
.dcfxjg_style{
    font: normal 400 18px '微软雅黑';
    position: fixed;
    top: 25px;
    left: 1610px;
}

.bc_style{
    position: fixed;
    top: 25px;
    left: 1550px;
    font: normal 400 18px '微软雅黑';
}

.onetd1{
    font: normal 600 24px"微软雅黑";
}

.onetd2{
    font: normal 600 26px"微软雅黑";
}

.onetd3{
    font: normal 600 22px"微软雅黑";
    left: 50px;
}

.onetd4{
    font: normal 400 6px"微软雅黑";
}

.greens{
    background-color: #70ad47;
}

.blue{
    background-color: #5b9bd5;
}

.green{
    background-color: #c6e0b4;
}

.yellow{
    background-color: #fee699;
}

.grey{
    background-color: #aeaaaa;
}
.light_gray{
    background-color: #d0cece;
}

.input_yangshi{
    border-color: transparent;/*透明边框*/
    background-color:rgba(0,0,0,0);/*透明背景*/
}
.home_right_div{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}
.home_right_head_div{
    width: 100%;
    height: 110px;
    padding: 1px;
    border-bottom: 2px #dbdbdb solid;
}
.m_query_head_table{
    margin-left: 55px;
    width: 100%;
    height: 95%;
}

.m_query_head_table tr td{
    /*width: 150px;*/
    color: #242424;
    font: normal 400 14px "微软雅黑";
}
.m_query_head_button{
    border: 0px;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #5ac980;
    cursor:pointer;
    /*margin-left: 60px;*/
}
.m_query_head_input{
    width: 200px;
    color: #c2c2c2;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 25px;
}

.m_query_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 20px;
    position:relative;
    left:10px;
}

.m_create_head_input{
    padding-left: 7px;
    margin-left: 10px;
    width: 160px;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 25px;
}


.m_create_head_row1_div{
    color: #6d6d6d;
    overflow: auto;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 55px;
    font: normal 400 14px "微软雅黑";
}
.m_create_head_row2_div{
    color: #6d6d6d;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 55px;
    font: normal 400 14px "微软雅黑";
}
.jqcjxx_span{
	margin-left:55px;
    color: #242424;
}
.sacjxx_span{
    margin-left:90px;
    color: #242424;
}
/*.cjxx_input{*/
/*	margin-left:10px;*/
/*}*/
.dbczy_span{
	margin-left:90px;
    color: #242424;
}
.jbczy_span{
    margin-left:90px;
    color: #242424;
}
.czy_select{
	margin-left:10px;
}
.bbzt_span{
	margin-left:150px;
}
.wsc_span{
	margin-left:10px;
	color: #f00;
	font-weight: bold;
}
.gzlcssr1_span{
	margin-left:20px;
    color: #242424;
}
.gzlcssr2_span{
	margin-left:55px;
    color: #242424;
}

.but_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	color:#ffffff;
	text-align:center;
	cursor:pointer;
	border-radius:5px;
}
.scbb_but_div{
	margin-left: 100px;
	background-color: #55CA7D;
    color: #FFFFFF;
}
.sjfw_but_div{
	margin-left: 10px;
	background-color: #FF5157;
    color: #FFFFFF;

}

.m_body_table .tr1{
    height: 50px;
}

.m_body_table .tr2{
    height: 40px;

}
.m_body_table .tr4{
    height: 20px;
}
.m_body_table .td2_1,
.m_body_table .td2_2,
.m_body_table .td2_3{
    width: 7%;
}
.m_body_table .td2_4{
    width: 9%;
}
.m_body_table .td2_5{
    width: 9%;
}
.m_body_table .td2_6,
.m_body_table .td2_8{
    width: 15%;
}
.m_body_table .td2_7,
.m_body_table .td2_9{
    width: 15%;
}

.m_body_table .tr3{
    height: 70px;
}

.m_body_table .tr5{
    height: 150px;
}
.m_body_table .tr6{
    height: 40px;
}
.m_body_table .tr6_1{
    height: 40px;
}
.m_body_table .tr7,
.m_body_table .tr8,
.m_body_table .tr9{
    height: 40px;
}
.m_body_table .tr10,
.m_body_table .tr12{
    height: 60px;
}
.m_body_table .tr13{
    height: 40px;
}
.m_body_table .tr14{
    height: 100px;
}
.m_body_table .tr15{
    height: 60px;
}
.m_body_table .tr16{
    height: 60px;
}
.m_body_table .tr17{
    height: 60px;
}
.m_body_table .tr18{
    height: 60px;
}
.m_body_table .tr19{
    height: 60px;
}
.m_body_table .tr20{
    height: 100px;
}
.m_body_table .tr21{
    height: 20px;
}
.m_body_table .tr22{
    height: 100px;
}
.m_body_table .tr23{
    height: 50px;
}
.m_body_table .tr24{
    height: 80px;
}
.m_body_table .tr25{
    height: 100px;
}

.m_create_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 20px;
    position:relative;
    /*left:10px;*/
}
.glue{
    color: #f61c27;
    font-weight:bolder;
}
.printing_button{
    color: #FFFFFF;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #5fc98f;
}
/*U类表格样式*/
.u_body_table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.u_query_head_table{
    margin-left: 55px;
    width: 100%;
    height: 95%;
}

.u_query_head_table tr td{
    /*width: 150px;*/
    color: #242424;
    font: normal 400 14px "微软雅黑";
}
.u_query_head_input{
    width: 200px;
    color: #c2c2c2;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 25px;
}
.u_query_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 20px;
    position:relative;
    left:10px;
}
.u_query_head_button{
    border: 0px;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #5ac980;
    cursor:pointer;
}
.u_create_head_row2_div{
    color: #6d6d6d;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 55px;
    font: normal 400 14px "微软雅黑";
}
.u_body_table .tr1{
    height: 50px;
}
.u_body_table .tr2{
    height: 40px;
}
.u_body_table .tr3{
    height: 70px;
}
.u_body_table .tr4{
    height: 20px;
}
.u_body_table .tr5{
    height: 150px;
}
.u_body_table .tr6,
.u_body_table .tr7{
    height: 20px;
}
.u_body_table .tr8{
    height: 70px;
}
.u_body_table .tr9{
    height: 100px;
}
.u_body_table .tr10{
    height: 80px;
}
.u_body_table .tr11,
.u_body_table .tr12 {
    height: 200px;
}
.u_body_table .tr13{
    height: 20px;
}
.u_body_table .tr14{
    height: 100px;
}
.u_body_table .tr15{
    height: 100px;
}
.u_body_table .tr16{
    height: 90px;
}
.u_body_table .tr17{
    height: 200px;
}
.u_body_table .tr18{
    height: 160px;
}
.u_body_table .tr19{
    height: 160px;
}
.u_body_table .tr20{
    height: 160px;
}
.u_body_table .tr21{
    height: 160px;
}
.u_body_table .tr22{
    height: 100px;
}
.u_body_table .tr23{
    height: 100px;
}
.u_body_table .tr24{
    height: 100px;
}
.u_body_table .tr25{
    height: 100px;
}
.u_body_table .tr26{
    height: 120px;
}
.u_body_table .tr27{
    height: 200px;
}
.u_body_table .tr28{
    height: 50px;
}
.u_body_table .tr29{
    height: 150px;
}
.u_body_table .tr30{
    height: 150px;
}
.u_body_table .tr31{
    height: 120px;
}
.u_body_table .tr33{
    height: 100px;
}
.u_body_table .tr34{
    height: 90px;
}
.u_body_table .tr35{
    height: 100px;
}
.u_body_table .tr36{
    height: 100px;
}
.u_body_table .td2_1,
.u_body_table .td2_2,
.u_body_table .td2_3,
.u_body_table .td2_4,
.u_body_table .td2_5
{
    width: 8%;
}
.u_body_table .td2_6,
.u_body_table .td2_7,
.u_body_table .td2_8,
.u_body_table .td2_9{
    width: 15%;
}


.u_create_head_row1_div{
    color: #6d6d6d;
    overflow: auto;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 55px;
    font: normal 400 14px "微软雅黑";
}
.u_create_head_input{
    padding-left: 7px;
    margin-left: 10px;
    width: 160px;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 25px;
}
.u_create_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 20px;
    position:relative;
    /*left:10px;*/
}

