.tab{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr>td{
    height: 40px;
}

.remarks{
    width: 150px;
}

.onetd1{
    font: normal 600 24px"宋体";
}

.onetd2{
    font: normal 600 26px"宋体";
}

.onetd3{
    font: normal 600 22px"宋体";
    left: 50px;
}

.onetd4{
    font: normal 400 6px"宋体";
}

.greens{
    background-color: #70ad47;
}

.blue{
    background-color: #5b9bd5;
}

.green{
    background-color: #c6e0b4;
}

.yellow{
    background-color: #fee699;
}

.grey{
    background-color: #aeaaaa;
}