*{
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%
}
.home{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.home-head{
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    display: flex;
    /*justify-content:center;/*左右居中*/
    align-items:center;/*上下居中*/
    position: relative;
}
.home-head-span{
    font: normal 600 28px "微软雅黑";
    color: #0C0C0C;
    margin-left: 70px;
    cursor:pointer;
}
.home-head-ul{
    position: absolute;
    right: 0;
    list-style: none outside none;
}
.home-head-ul>li{
    font: normal 400 16px "微软雅黑";
    float: left;
    margin: 0 10px;
}
.home-body{
    display:inline;
}
.home-left-body{
    overflow:auto;
    float:left;
    width: 200px;
    height: calc(100% - 65px);
    background-color: #393d49;
}
.home-right-body{
    background-color: #e0dfdf;
    float:left;
    width: calc(100% - 200px);
    height: calc(100% - 65px);
}
.right-body-head{
    width: calc(100% - 10px);
    height: 50px;
    background-color: #FFFFFF;
    margin: 4px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.24);
    display: flex;
    /*justify-content:center;/*左右居中*/
    align-items:center;/*上下居中*/
}
.right-body-head-span1{
    margin-left: 20px;
}
.right-body-head-span2{
    font: normal 600 20px "微软雅黑";
    color: #3c7faf;
    margin-left: 5px;
}
.right-body-main{
    margin: 0px 0px 0px 5px;
    height: calc(100% - 5px);
    height: calc(100% - 60px);
}
.login_box {
    background: rgba(6, 47, 101, 0.3);
    position: fixed;
    top: 200px;
    left: 800px;
    width: 400px;
    height: 270px;
    border: 1px solid #0b477d;
    color: white;
    box-shadow: 0 0 12px #14678f inset;
    margin-right: 50px;
    border-radius: 5px;
}
.login{
    width: 100%;
    height: 100%;
    background-color: #dcd9d9;
}
.login_box > table {
}
.login_box > table > tr {
    margin-top: 20px;
}
.login_page_title {
    font: normal 400 22px "微软雅黑";
    color: #ffffff;
}