*{
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%
}
.home{
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}
.home-head{
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    display: flex;
    /*justify-content:center;/*左右居中*/
    align-items:center;/*上下居中*/
    position: relative;
}
.home-head-span{
    font: normal 600 28px "微软雅黑";
    color: #0C0C0C;
    margin-left: 70px;
    cursor:pointer;
}
.home-head-ul{
    position: absolute;
    right: 0;
    list-style: none outside none;
}
.home-head-ul>li{
    font: normal 400 16px "微软雅黑";
    float: left;
    margin: 0 10px;
}
.home-body{
    display:inline;
}
.home-left-body{
    overflow:auto;
    float:left;
    width: 200px;
    /*height: calc(100% - 65px);*/
    height: 95%;
    background-color: #393d49;
}
.home-right-body{

    background-color: #e0dfdf;
    float:left;
    width: calc(100% - 200px);
    height: calc(100% - 55px);
}
.right-body-head{
    width: calc(100% - 10px);
    height: 50px;
    background-color: #FFFFFF;
    margin: 4px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.24);
    display: flex;
    /*justify-content:center;/*左右居中*/
    align-items:center;/*上下居中*/
}
.right-body-head-span1{
    margin-left: 20px;
}
.right-body-head-span2{
    font: normal 600 20px "微软雅黑";
    color: #3c7faf;
    margin-left: 5px;
}
.right-body-main{
    margin: 0px 0px 0px 5px;
    height: calc(100% - 60px);
}
.login_box {
    z-index: 100;
    display: flex;
    align-items: center; /*纵轴对齐方式，默认是纵轴 子元素垂直居中*/
    justify-content: center; /*纵轴对齐方式，默认是纵轴*/
    background: rgba(6, 47, 101, 0.3);
    /*position: fixed;*/
    /*top: 30%;*/
    /*left: 37%;*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 270px;
    border: 1px solid #0b477d;
    color: white;
    box-shadow: 0 0 12px #14678f inset;
    /*margin-right: 50px;*/
    border-radius: 7px;

}
.login{
    margin: 0 auto;
    position: relative;
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    background-image: url(../image/login_background.jpg);
    background-size: cover;/*设置图片大小*/
    background-repeat: no-repeat;

    /*overflow: hidden;*/
    /*z-index: -1;*/
}
.login_box > table {
    height: 70%;
}
.login_page_title {
    font: normal 400 22px "微软雅黑";
    color: #ffffff;
}
/*.login:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: block;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
.login_input{
    padding-left: 10px;
    border: 0px;
    width: 230px;
    height: 40px;
    border-radius: 5px;
}
.login_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #7e8286;
    margin-left: 10px;
    position:relative;
    left:10px;
}
.login_button{
    border-radius: 5px;
    border: 0px;
    width: 230px;
    height: 40px;
    color: #FFFFFF;
    background-color: #5e94c8;
    cursor:pointer;
}

.left-menu-a{
    cursor:pointer;
}

.father{
    display: inline-block;
    /*relative生成相对定位的元素，相对于其正常位置进行定位。*/
    position: relative;
    /*上下边距为10px，左右边距为50px*/
    /*padding: 10px 50px;*/

}

.son{
    width: 80px;
    height: 70px;
    position: absolute;
    display: none;
    background-color: #c8c8d0;
    top: 22px;
    left: 55px;
    right: 10px;
    padding-left: 0px;
    /*将方框的角变为圆角框*/
    border-radius: 5px;
}

.son>li{
    padding: 5px;
    text-align: center;
}

/*hover是指当鼠标移动到上面是才有响应*/
.father:hover{
    /*background-color: #4d7afa;*/
}

.son li:hover
{
    background-color: #dcdfe3;
    color: #FFFFFF;
    cursor: pointer;
}
.son li a:hover
{
    color: #FFFFFF;
}
.father:hover .son{
    display: block;
}
.user_table{
    width: 100%;
    height:100%;
    text-align: center;
    overflow: auto;
}
.user_tbody {
    display:block;
    height:90%;
    overflow-y:scroll;
    overflow-x:hidden;
}
.user_table thead {
    height: 5%;
    width: calc( 100% - 1em );
    display:table;
    table-layout:fixed;
}
/*.user_thead{*/
/*    display:table;*/
/*    width:100%;*/
/*    height: 30px;*/
/*    table-layout:fixed;*/
/*}*/
.user_tbody>tr{
    display:table;
    width:100%;
    height: 30px;
    table-layout:fixed;
}
.user_tbody>tr:hover{
    background-color: rgba(245, 232, 215, 0.32);
}
.user_thead>tr>th{
    border: 1px #ded3d3 solid;
    height: 45px;
}
.user_tbody>tr>td{
    border: 1px #d5d0d0 solid;
    height: 45px;
}

.user_table thead th{ background: #dee1e7;}

.user_head_input{
    margin-left: 10px;
    width: 160px;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 35px;

}
.user_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 20px;
    position:relative;
    left:10px;
}



.user_head_div{
    color: #6d6d6d;
    overflow: auto;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 110px;
    font: normal 400 14px "微软雅黑";
}
.user_head_add_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #e85166;
    cursor:pointer;
}
.user_head_search_button{
    margin-left: 15px;
    border: 0px;
    width: 60px;
    height: 35px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #5ac980;
    cursor:pointer;
}
.user_head_empty_button{
    margin-left: 10px;
    border: 0px;
    width: 60px;
    height: 35px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #5ac980;
    cursor:pointer;
}
.home_right_user_div {
    overflow: auto;
    width: 100%;
    height: 79%;
}
.user_edit_button{
    color: #ffffff;
    width: 60px;
    height: 25px;
    border: 0px;
    border-radius: 3px;
    background-color:#62b77a;
    cursor:pointer;
    font: normal 400 13px '微软雅黑';
}
.user_delete_button{
    color: #ffffff;
    border: 0px;
    width: 60px;
    height: 25px;
    border-radius: 3px;
    background-color:#fc5830;
    cursor:pointer;
    font: normal 400 13px '微软雅黑';
}
.home_right_cbody_div{
    overflow:auto;
    width: 100%;
    height: 84%;
}
.home_right_sbody_div{
    overflow:auto;
    width: 100%;
    height: 79%;
}
.home_right_bottom_div{
    text-align: center;
    width: 100%;
    height: 80px;
    border-top: 1px #d4cfcf solid;
}
.user_head_del_button{
    background-color:#fc5830;
    margin-left: 10px;
    border: 0px;
    width: 90px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    cursor:pointer;
}

.add_user_empty_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #fc5830;
    cursor:pointer;
}
.add_user_insert_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #51a2e8;
    cursor:pointer;
}

.add_user_div{
    font: normal 400 18px '微软雅黑';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #dedee8;
}
.add_user_input{
    width: 300px;
    height: 40px;
    border: 1px #dedee8 solid;
    border-radius: 3px;
    padding-left: 10px;
}
.add_user_input::placeholder{
    font: normal 400 16px "微软雅黑";
    color: #7e8286;
    margin-left: 20px;
    position:relative;
    left:1px;
}
.add_user_table{
    height: 90%;
    width: 70%;
    padding-left: 20px;
}
.add_user_table tr{
    margin-top: 10px;
}
.add_user_table tr td{
    margin-left: 10px;
}

.role_head_input{
    margin-left: 10px;
    width: 160px;
    border: #c2c2c2 1px solid;
    border-radius: 3px;
    height: 35px;

}
.role_head_input::placeholder{
    font: normal 400 14px "微软雅黑";
    color: #c2c2c2;
    margin-left: 10px;
    position:relative;
    left:10px;
}

.user_head_row1_div{
    color: #6d6d6d;
    overflow: auto;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 70px;
    font: normal 400 14px "微软雅黑";
    border-bottom: 2px #d0cece solid;
}
.user_head_row2_div{
    color: #6d6d6d;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 40px;
    font: normal 400 14px "微软雅黑";
}

.role_head_row1_div{
    color: #6d6d6d;
    overflow: auto;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 70px;
    font: normal 400 14px "微软雅黑";
    border-bottom: 2px #d0cece solid;
}
.role_head_row2_div{
    color: #6d6d6d;
    display: flex;
    align-items:center;/*上下居中*/
    width: 100%;
    height: 40px;
    font: normal 400 14px "微软雅黑";
}

.role_head_search_button{
    margin-left: 15px;
    border: 0px;
    width: 60px;
    height: 35px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #5ac980;
    cursor:pointer;
}
.role_head_empty_button{
    margin-left: 10px;
    border: 0px;
    width: 60px;
    height: 35px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #5ac980;
    cursor:pointer;
}

.role_head_add_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #e85166;
    cursor:pointer;
}

.role_table{
    width: 100%;
    height:100%;
    text-align: center;
    overflow: auto;
}
.role_tbody {
    display:block;
    height:90%;
    overflow-y:scroll;
    overflow-x:hidden;
}
.role_table thead {
    height: 5%;
    width: calc( 100% - 1em );
    display:table;
    table-layout:fixed;
}
/*.user_thead{*/
/*    display:table;*/
/*    width:100%;*/
/*    height: 30px;*/
/*    table-layout:fixed;*/
/*}*/
.role_tbody>tr{
    display:table;
    width:100%;
    height: 30px;
    table-layout:fixed;
}
.role_tbody>tr:hover{
    background-color: rgba(245, 232, 215, 0.32);
}
.role_thead>tr>th{
    border: 1px #ded3d3 solid;
    height: 45px;
}
.role_tbody>tr>td{
    border: 1px #d5d0d0 solid;
    height: 45px;
}

.role_table thead th{ background: #dee1e7;}

.home_right_role_div {
    overflow: auto;
    width: 100%;
    height: 79%;
}

.add_role_div{
    font: normal 400 18px '微软雅黑';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #dedee8;
}

.add_role_table{
    height: 90%;
    width: 70%;
    padding-left: 20px;
}
.add_role_table tr{
    margin-top: 10px;
}
.add_role_table tr td{
    margin-left: 10px;
}

.add_role_input{
    width: 300px;
    height: 40px;
    border: 1px #dedee8 solid;
    border-radius: 3px;
    padding-left: 10px;
}
.add_role_input::placeholder{
    font: normal 400 16px "微软雅黑";
    color: #7e8286;
    margin-left: 20px;
    position:relative;
    left:1px;
}
.add_role_empty_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #fc5830;
    cursor:pointer;
}

.add_role_insert_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #51a2e8;
    cursor:pointer;
}
.role_edit_button{
    color: #ffffff;
    width: 60px;
    height: 25px;
    border: 0px;
    border-radius: 3px;
    background-color:#62b77a;
    cursor:pointer;
    font: normal 400 13px '微软雅黑';
}
.role_delete_button{
    color: #ffffff;
    border: 0px;
    width: 60px;
    height: 25px;
    border-radius: 3px;
    background-color:#fc5830;
    cursor:pointer;
    font: normal 400 13px '微软雅黑';
}

.edit_user_div{
    font: normal 400 18px '微软雅黑';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #dedee8;
}

.edit_user_table{
    height: 90%;
    width: 70%;
    padding-left: 20px;
}
.edit_user_table tr{
    margin-top: 10px;
}
.edit_user_table tr td{
    margin-left: 10px;
}
.edit_user_input{
    width: 300px;
    height: 40px;
    border: 1px #dedee8 solid;
    border-radius: 3px;
    padding-left: 10px;
}
.edit_user_input::placeholder{
    font: normal 400 16px "微软雅黑";
    color: #7e8286;
    margin-left: 20px;
    position:relative;
    left:1px;
}

.edit_user_edit_button{
    margin-left: 25px;
    border: 0px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #51a2e8;
    cursor:pointer;
}