<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjbbTjyx.dao.ERecordMapper">
	<insert id="add" parameterType="com.zjbbTjyx.entity.ERecord">
		insert into ERecord
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="VarName!=null">
				VarName,
			</if>
			<if test="VarValue!=null">
				VarValue,
			</if>
			<if test="Unit!=null">
				Unit,
			</if>
			<if test="PreValue!=null">
				PreValue,
			</if>
			<if test="NxtValue!=null">
				NxtValue,
			</if>
			<if test="PtnValue!=null">
				PtnValue,
			</if>
			<if test="RecType!=null">
				RecType,
			</if>
			<if test="FId!=null">
				FId,
			</if>
			<if test="RecordTime!=null">
				RecordTime,
			</if>
			<if test="BatchID!=null">
				BatchID,
			</if>
			<if test="PhaseName!=null">
				PhaseName,
			</if>
			<if test="Remark!=null">
				Remark,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="VarName!=null">
				#{VarName},
			</if>
			<if test="VarValue!=null">
				#{VarValue},
			</if>
			<if test="Unit!=null">
				#{Unit},
			</if>
			<if test="PreValue!=null">
				#{PreValue},
			</if>
			<if test="NxtValue!=null">
				#{NxtValue},
			</if>
			<if test="PtnValue!=null">
				#{PtnValue},
			</if>
			<if test="RecType!=null">
				#{RecType},
			</if>
			<if test="FId!=null">
				#{FId},
			</if>
			<if test="RecordTime!=null">
				#{RecordTime},
			</if>
			<if test="BatchID!=null">
				#{BatchID},
			</if>
			<if test="PhaseName!=null">
				#{PhaseName},
			</if>
			<if test="Remark!=null">
				#{Remark},
			</if>
		</trim>
	</insert>
	<select id="getMaxBatchNumByYear" resultType="java.lang.Integer">
		select max(right(BatchID,4)) from ERecord where VarName='${@com.zjbbTjyx.util.Constant@PI_CI_JI_LU}' and year(RecordTime)=#{year}
	</select>
	<select id="getListByBatchID" resultType="com.zjbbTjyx.entity.ERecord">
		select * from ERecord where BatchID=#{batchID}
	</select>
	<update id="updatePCJLReportedByBatchID">
		update ERecord set Remark=${@com.zjbbTjyx.entity.ERecord@YSCBB} where VarName='${@com.zjbbTjyx.util.Constant@PI_CI_JI_LU}' and BatchID=#{batchID}
	</update>
	<select id="getListByPcjl" resultType="com.zjbbTjyx.entity.ERecord">
		SELECT * FROM ERecord WHERE VarName='批次记录' order by RecordTime desc
	</select>

	<select id="getYscPcjlListByType" resultType="com.zjbbTjyx.entity.ERecord">
		SELECT * FROM ERecord
		<where>
			VarName='批次记录' and Remark='1'
			<if test="RecType!='' and RecType!=null">
				and LEFT(BatchID,2)=#{RecType}
			</if>
		</where>
	</select>
</mapper>