<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uWinOPCTjyx.dao.JiLuShiJianMMapper">
	<select id="getIdByMc" resultType="java.lang.Integer">
		select id from JiLuShiJianM where mc=#{mc}
	</select>
	<select id="getListByMcList" resultType="com.uWinOPCTjyx.entity.JiLuShiJianM">
		select id,mc from JiLuShiJianM where 1=1
		<foreach collection="mcList" item="mc" open=" and cast(mc as char) in (" separator="," close=")">
		#{mc}
		</foreach>
	</select>
</mapper>