<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uWinOPCTjyx.dao.OpcBianLiangMapper">
	<insert id="add" parameterType="com.uWinOPCTjyx.entity.OpcBianLiang">
		insert into OpcBianLiang
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				mc,
			</if>
			<if test="sz!=null">
				sz,
			</if>
				cjsj
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mc!=null">
				#{mc},
			</if>
			<if test="sz!=null">
				#{sz},
			</if>
				getdate()
		</trim>
	</insert>
	<update id="editByMc">
		update OpcBianliang set sz=#{sz},xgsj=getdate() where mc=#{mc}
	</update>
	<select id="getCountByMc" resultType="java.lang.Integer">
		select count(*) from OpcBianliang where mc=#{mc}
	</select>
</mapper>