<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uWinOPCTjyx.dao.ProcessVarMapper">
	<select id="getUnDealListByFIdList" resultType="com.uWinOPCTjyx.entity.ProcessVar">
		select * from ProcessVar where DealBz=${@com.uWinOPCTjyx.entity.ProcessVar@WCL}
		<foreach collection="fIdList" item="fId" open=" and cast(fId as char) in (" separator="," close=")">
		#{fId}
		</foreach>
	</select>
</mapper>