<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjbbTjyx.dao.ReportF_UMapper">

    <select id="getReportFUList" resultType="com.zjbbTjyx.entity.ReportF_U">
        select * from ReportF_U where LEFT(BatchID,2)=#{type}
        <if test="startTime!=''&amp;endTime!=null">

            and createTime between #{startTime} and #{endTime}
        </if>
        <if test="batchID!=''&amp;batchID!=null">
            and BatchID=#{batchID}
        </if>
        order by createTime
    </select>

    <select id="getReportFUByBatchID" resultType="com.zjbbTjyx.entity.ReportF_U">
		select * from ReportF_U where BatchID=#{batchId}
	</select>
</mapper>