<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjbbTjyx.dao.ReportF_MMapper">
	<insert id="add" parameterType="com.zjbbTjyx.entity.ReportF_M">
		insert into ReportF_M
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="RowNumber!=null">
				RowNumber,
			</if>
			<if test="ColNumber!=null">
				ColNumber,
			</if>
			<if test="Value!=null">
				Value,
			</if>
			<if test="BatchID!=null">
				BatchID,
			</if>
				CreateTime,
			<if test="Remark!=null">
				Remark,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="RowNumber!=null">
				#{RowNumber},
			</if>
			<if test="ColNumber!=null">
				#{ColNumber},
			</if>
			<if test="Value!=null">
				#{Value},
			</if>
			<if test="BatchID!=null">
				#{BatchID},
			</if>
				GETDATE(),
			<if test="Remark!=null">
				#{Remark},
			</if>
		</trim>
	</insert>

	<select id="getReportFMList" resultType="com.zjbbTjyx.entity.ReportF_M">
		select * from ReportF_M where LEFT(BatchID,2)=#{type}
		<if test="startTime!=''&amp;endTime!=null">
			and createTime between #{startTime} and #{endTime}
		</if>
		<if test="batchID!=''&amp;batchID!=null">
			and BatchID=#{batchID}
		</if>
		order by createTime
	</select>

	<select id="getReportFMByBatchID" resultType="com.zjbbTjyx.entity.ReportF_M">
		select * from ReportF_M where BatchID=#{batchId}
	</select>
</mapper>