<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjbbTjyx.dao.RoleMapper">

  <select id="getRoleList" resultType="com.zjbbTjyx.entity.Role">
  		select * from Role
  		<where>
            <if test="RoleName!='' and RoleName!=null">
                and RoleName like '%'+#{RoleName}+'%'
            </if>
            <if test="Detail!='' and Detail!=null">
                and Detail like '%'+#{Detail}+'%'
            </if>
        </where>
  	</select>

    <select id="getRoleById" resultType="com.zjbbTjyx.entity.Role">
        select * from Role where Id=#{Id}
    </select>

</mapper>