<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uWinOPCTjyx.dao.ShengChanJiLuMapper">
	<insert id="addSCJL" parameterType="com.uWinOPCTjyx.entity.ShengChanJiLu">
		insert into sheng_chan_ji_lu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="scbh!=null">
				scbh,
			</if>
			<if test="fyfh!=null">
				fyfh,
			</if>
			<if test="kssj!=null">
				kssj,
			</if>
			<if test="jssj!=null">
				jssj,
			</if>
			<if test="scgs!=null">
				scgs,
			</if>
			<if test="scrq!=null">
				scrq,
			</if>
			<if test="ysd101!=null">
				ysd101,
			</if>
			<if test="ysd102!=null">
				ysd102,
			</if>
			<if test="ysd103!=null">
				ysd103,
			</if>
			<if test="dbczy!=null">
				dbczy,
			</if>
			<if test="jbczy!=null">
				jbczy,
			</if>
			<if test="lx!=null">
				lx,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="scbh!=null">
				#{scbh},
			</if>
			<if test="fyfh!=null">
				#{fyfh},
			</if>
			<if test="kssj!=null">
				#{kssj},
			</if>
			<if test="jssj!=null">
				#{jssj},
			</if>
			<if test="scgs!=null">
				#{scgs},
			</if>
			<if test="scrq!=null">
				#{scrq},
			</if>
			<if test="ysd101!=null">
				#{ysd101},
			</if>
			<if test="ysd102!=null">
				#{ysd102},
			</if>
			<if test="ysd103!=null">
				#{ysd103},
			</if>
			<if test="dbczy!=null">
				#{dbczy},
			</if>
			<if test="jbczy!=null">
				#{jbczy},
			</if>
			<if test="lx!=null">
				#{lx},
			</if>
		</trim>
	</insert>

	<select id="getList" resultType="com.uWinOPCTjyx.entity.ShengChanJiLu">
		select * from sheng_chan_ji_lu
	</select>

</mapper>