<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjbbTjyx.dao.UserListMapper">

    <select id="getUser" resultType="com.zjbbTjyx.entity.UserList">
        select * from UserList where UserName=#{userName} and Psd=#{psd}
    </select>

    <insert id="addUser" parameterType="com.zjbbTjyx.entity.UserList">
        INSERT into UserList (UserName,Psd,CTime,Type) VALUES (#{userName},#{psd},getDate(),1)
    </insert>

    <delete id="delUser">
        delete from UserList where 1=1
        <foreach collection="idList" item="id" open=" and cast(id as char) in (" separator="," close=")">
            Id=#{id}
        </foreach>
    </delete>

    <select id="getUserList" resultType="com.zjbbTjyx.entity.UserList">
        select * from UserList
    </select>
</mapper>